.App {
  text-align: center;
}

section {
  color: #282c34;
  background-color: #ffff;
  height: 100vh;
}

.navBg {
  background-color: #779ecb;
}

.leaflet-container {
  width: 99vw;
  height: 100vh;

}